<div class="flex-column d-flex align-items-center">

    <div class="w-75">
      <h1 class="mb-3 text-start">SignUp</h1>
  
      <form id="createForm" (ngSubmit)="register()" [formGroup]="registerForm">
        <div class="form-floating mb-3 text-secondary">
          <input type="text" class="form-control" id="lastName"
                 [class.is-valid]="registerForm.get('lastName')?.valid"
                 [class.is-invalid]="registerForm.get('lastName')?.dirty && registerForm.get('lastName')?.invalid"
                 placeholder="Username or Email" formControlName="lastName">
          <label for="lastName">LastName</label>
          @if (registerForm.get('lastName')?.dirty && registerForm.get('lastName')?.hasError('required')) {
            <div class="invalid-feedback">
             LastName is required
            </div>
          }
        </div>
        <div class="form-floating mb-3 text-secondary">
          <input type="text" class="form-control" id="firstName"
                 [class.is-valid]="registerForm.get('firstName')?.valid"
                 [class.is-invalid]="registerForm.get('firstName')?.dirty && registerForm.get('firstName')?.invalid"
                 placeholder="firstName"formControlName="firstName">
          <label for="firstName">FirstName</label>
          @if (registerForm.get('firstName')?.dirty && registerForm.get('firstName')?.hasError('required')) {
            <div class="invalid-feedback">
            firstName is required
            </div>
          }
        </div>


        <div class="form-floating mb-3 text-secondary">
            <input type="email" class="form-control" id="email"
                   [class.is-valid]="registerForm.get('email')?.valid"
                   [class.is-invalid]="registerForm.get('email')?.dirty && registerForm.get('email')?.invalid"
                   placeholder="email"formControlName="email">
            <label for="email">Email</label>
            @if (registerForm.get('email')?.dirty && registerForm.get('email')?.hasError('required')) {
              <div class="invalid-feedback">
              Email is required
              </div>
            }
          </div>

          <div class="form-floating mb-3 text-secondary">
            <input type="password" class="form-control" id="passord"
                   [class.is-valid]="registerForm.get('password')?.valid"
                   [class.is-invalid]="registerForm.get('password')?.dirty && registerForm.get('password')?.invalid"
                   placeholder="Password" formControlName="password"/>
            <label for="password">Password</label>
            @if (registerForm.get('password')?.dirty && registerForm.get('password')?.hasError('required')) {
              <div class="invalid-feedback">
               Password is required
              </div>
            }
          </div>


          <div class="form-floating mb-3 text-secondary">
            <input type="text" class="form-control" id="username"
                   [class.is-valid]="registerForm.get('username')?.valid"
                   [class.is-invalid]="registerForm.get('username')?.dirty && registerForm.get('username')?.invalid"
                   placeholder="username" formControlName="username"/>
            <label for="username">username</label>
            @if (registerForm.get('username')?.dirty && registerForm.get('username')?.hasError('required')) {
              <div class="invalid-feedback">
               Username is required
              </div>
            }
          </div>

          <div class="form-floating mb-3 text-secondary">
            <input type="text" class="form-control" id="imageUrl" placeholder="imageUrl" formControlName="imageUrl"/>
            <label for="imageUrl">Image URL</label>
            
          </div>
        
       
        <div class="d-grid">
          <button class="btn btn-primary" [disabled]="registerForm.invalid || isLogin" type="submit">
            @if(!isLogin) {
              <div>SignUp</div>
            } @else if(isLogin) {
              <div class="d-flex align-items-center justify-content-center">
                <fa-icon icon="circle-notch" class="me-2" animation="spin"></fa-icon>
                <div>Subscription  in progress...</div>
              </div>
            }
          </button>

          <br>
          <a routerLink="/login" style="color:green"> <span>Vous avez un compte ? </span>
          <span>Connectez-vous ici</span>
        </a>
        </div>
      </form>
      @if(flowStatus == 'error') {
        <ngb-alert [dismissible]="false" type="danger" class="d-flex align-items-center justify-content-center mt-3">
          <fa-icon class="me-2" icon="circle-xmark" size="2x"></fa-icon>
          <div>
            @if(flowStatus ==  'error') {
              Something is wrong wit authentication
            }
           
          </div>
        </ngb-alert>
      }
    </div>
  
  </div>


